/* service */
#Haircuts,#Colorings,#Shaves,#Hair_artists {
    display: flex;
    flex-direction: column;
}

.haircut,.coloring,.shave,.hair_artist {
    display: flex;
    padding: 0 50px;
}

.coloring,.shave,.hair_artist {
    margin: 0 auto;
}

.line1 {
    margin-top: 40px;

}

.hair,.color,.shave1 {
    height: 500px;
    border-radius: 45px;
    background-color: #d9d9d9;
    margin: 20px 20px;
    flex-basis: 25%;
    padding: 0 20px;
    box-shadow: 2px 5px 10px rgb(68, 68, 68);
}

.hair_artist {
    height: 300px;
}

.hrart{
    margin: 0 10px;
}

.hrart img {
    border: 2px solid #5e5e5e;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.hair:hover,.color:hover{
    color: #dadada;
    background-color: #8d8d8d;
    margin-top: -1px;
}

.shave1:hover {
    color: #dadada;
    background-color: #8d8d8d;
}

.hrart:hover {
    margin-top: -10px;
}

.last {
    margin: 0 auto;
}

.button {
    font-weight: 700;
    background-color: #367AFF;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    margin: 0 auto;
}

.button a{
    color: #ffffff;
}

.button a:hover{
    color: #000000;
}

.button:hover {
    background-color: #ffffff;
}

.pilih{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cnf p{
    text-align: center;
}
.cnf {
    width: 40%;
    margin: 0 auto;
    border-radius: 30px;
    border: 3px solid #000000;
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
}

.isi {
    width: 70%;
}

.cnf input{
    border-radius: 20px;
    border: none;
    background-color: #d9d9d9;
    height: 30px;
    padding: 10px;
}

.cnf input:focus {
    outline: none;
}

/* textarea {
    border: 3px inset #929292;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
} */

.confirm {
    padding-bottom: 100px;
}
